@font-face {
    font-family: "GardensC";
    src: url("/fonts/GardensC.otf");
}

*{
    font-family: "GardensC";
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: borber-box;
}

label {
    margin: 0 !important;
}

body {
    position: relative;
}
a{
    color: inherit;
}
a:hover{
    color: inherit;
    text-decoration: none;
}

section.panel{
    width: 100%;
    padding: 0 130px;
}
.section-title{
    font-size: 50px;
    color: #3d67b0;
    text-align: center;
}

.text-upper{
    text-transform: uppercase;
}

.site-name{
    font-size: 80px;
}

.btn-order{
    background: #fff;
    color: #3d67b0;
    padding: 15px 25px;
    border: solid 2px #fff;
    border-top: none;
    border-radius: 0 0 20px 20px;
    transition: .5s ease-in-out;
}

.btn-order:hover{
    background: transparent;
    color: #fff;
}

.btn-order:hover{
    background-color: #fff;
    color: #3d67b0;
    padding: 10px 45px;
    border: solid 2px #fff;
    border-radius: 10 px;
    transition: .5s ease-in-out;
}

.btn-white-big:hover{
    background-color: transparent;
    color: #fff
}

.btn-slider{
    width: 50px;
    padding: 5px;
    background: transparent;
}

.btn-slider:focus{
    box-shadow: none;
}

.delimiter{
    width: 100%
}

.btn.btn-primary{
    background: #3d67b0 !important;
    border: #3d67b0 !important;
}

.form-control{
    border-radius: 10px;
    padding: 10px 20px;
}

.justify-content-eveliny{
    justify-content: space-eveliny;
}

.btn-up{
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 110;
    padding: 15px;
}

.btn-up img{
    width: 25px;
}

section#first-page{
    height: 100vh;
    color: #fff;
    background-image: url(/img/first-page-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section#first-page > header{
    width: 100%;
    color: #fff;
}

section#first-page .logo img{
    width: 100px;
}

section#first-page .contact > .item p{
    font-size: 12px;
}

section#first-page .contact > .item img{
    width: 25px;
    margin-right: 15px;
}

section#first-page .nav{
    list-style-type: none;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

section#first-page .nav li{
    padding-left: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

section#first-page .nav li:first-of-type{
    padding-left: 0;
}

section#first-page .nav li::after{
    content: "";
    height: 3px;
    width: 0;
    background-color: #fff;
    transition: .5s ease-in-out;
}

section#first-page .nav li:hover::after{
    width: 50%;
}

section#advantages{
    background: transparent;
    padding-bottom: 50px;
    padding-top: 50px;
}

section#advantages .item{
    height: 100%;
    transform: scale(.6);
    transition: .5s ease-in-out;
    user-select: none;
}

.section#advantages .item:hover{
    transform: scale(.8);
}

section#advantages .item img{
    height: 90%;
}

section#advantages .item p{
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}

section#about-us{
    color:#fff;
    margin-bottom: 100px;
    height: 150vh;
    background: url(/img/about-us-bg.png) center no-repeat;
    background-size: 100% 100%;
}

section#partners .item{
    font-size: 50px;
    cursor: default;
    z-index: -1;
    top: 0;
    left: 0;
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    transition-duration: .4s;
    opacity: 1;
}

section#parthers .item p{
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: #c5c5c5;
}

section#partners .item:hover{
    color:#3d67b0;
}

section#partners input[type="radio"]{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}

section#parthers input[type="radio"]:checked + .partners-label{
    border: solid 1px #3d67b0;
    background-color: #3d67b0;
}

section#parthers input[type="radio"]:checked ~ .item{
    transform: translateX(100%);
}

section#parthers input[type="radio"]:checked + .partners-label + .item{
    transform: translateX(0);
    opacity: 1;
}

section#partners .partners-label{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px #e0e0e0;
    cursor: pointer;
    margin: 6px !important;
    transition: .5s ease-in-out;
}

section#partners #brand-container{
    overflow: hidden;
    position: relative;
}